<div>
  <div class="container home-page">
    <div class="row align-items-center">
      <div class="col-md-2 offset-md-5 user-icon-container text-center">        
          <div class="e-avatar e-avatar-circle user-icon">
              <img src="https://avatars2.githubusercontent.com/u/11406932?s=400&u=1daa67e7dd746084a56c68a0de041acac5c4d652&v=4" alt="profile_pic">
          </div>
      </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-8 offset-md-2 welcome-message-container">        
          <div class="welcome-message">
            <h1>My name is {{userInfo.firstName}} {{userInfo.lastName}}
            </h1>
            <h3 class="personal-statement">{{userInfo.personalStatement}}</h3>
          </div>
        </div>
      </div>
    <div class="row align-items-center social-links-block">
      <div class="col col-md-8 offset-md-2 text-center">
        <social-links></social-links>
      </div>

    </div>
    <div class="row align-items-center social-links-block">
        <div class="col col-md-8 offset-md-2 text-center">
            <button mat-raised-button class="see-more-button" (click)="scroll(repos)">
                See More   <mat-icon >expand_more</mat-icon> 
            </button>
        </div>
  
    </div>
  </div>
  <div class="container other-content">
    <div class="row">
      <div class="col-md-12" #repos>
          <mat-divider></mat-divider>
        <github-repo-list ></github-repo-list>
        <mat-divider></mat-divider>
        <blog-posts-banner></blog-posts-banner>
      </div>
      
    </div>
    <div class="row footer">

    </div>

  </div>
</div>
