<router-outlet></router-outlet>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="hero-container">
  <div class="container"> 
      <div class="row">
           <mat-toolbar  style=" float:right;background: transparent">
            <mat-toolbar-row class="toolbar">
                <a class="menu-item" routerLink="" routerLinkActive="active">{{userInfo.firstName}}{{userInfo.lastName}}.io</a>                
                <a class="menu-item" routerLink="/about-user" routerLinkActive="active">About Me</a>
                <a class="menu-item" >Projects</a>
                <span class="example-fill-remaining-space"></span>
              <fa-icon *ngFor="let toolbaritem of socialMediaToolbarItems" [icon]="toolbaritem.icon" size="lg" (click)="openLink(toolbaritem.url)" style="padding: 5px 5px; height: 30px;"></fa-icon>        
            </mat-toolbar-row>
          </mat-toolbar> -->
      <!-- </div>
      <router-outlet></router-outlet>  
  </div>
</div> --> 
        
      



