<!--The content below is only a placeholder and can be replaced.-->
<div class="container main-container">
  <div class="row">
    <mat-toolbar  style=" float:right;">
      <mat-toolbar-row>
          <span>{{userInfo.firstName}}{{userInfo.lastName}}.io</span>
          <span class="example-fill-remaining-space"></span>
        <fa-icon *ngFor="let toolbaritem of socialMediaToolbarItems" [icon]="toolbaritem.icon" (click)="openLink(toolbaritem.url)" style="padding: 5px 5px;"></fa-icon>
        
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-8">
      <github-repo-list></github-repo-list> 
      <blog-posts-banner></blog-posts-banner> 
    </div>  
    <div class="col-md-2"></div>
  </div>
</div>
<router-outlet></router-outlet>
