.view-post{
    display: block;
    text-align: center;

}
.example-card{
    background-color: white;
    background-size: cover;
    padding: 5px;
}
.user-blogs-icon{
    margin-top: 40px;
    margin-bottom: 5px;
}
.user-blogs-header{
    margin-bottom: 40px;
}
.blog-carousel{
    margin-bottom: 40px;
}


