<div class="container">
  <div class="row">
    <div class="col align-items-center social-links">
        
        <a mdbBtn (click)="openLink(toolbaritem.url)" *ngFor="let toolbaritem of socialMediaToolbarItems" [style.background-color]="toolbaritem.color" class="btn btn-md btn-lg"><mdb-icon  class="pl-2 pr-2" fab [icon]="toolbaritem.icon" size="3x"></mdb-icon></a>
        <!-- <a *ngFor="let toolbaritem of socialMediaToolbarItems" type="button" mdbBtn floating="true" (click)="openLink(toolbaritem.url)" size="" [className]="toolbaritem.btnClass" mdbWavesEffect><i  [className]="toolbaritem.icon"></i></a> -->
      <!-- <fa-icon *ngFor="let toolbaritem of socialMediaToolbarItems" class="menu-item" [icon]="toolbaritem.icon" size="3x" (click)="openLink(toolbaritem.url)" [style.color]="toolbaritem.color" style="padding: 5px 5px; height: 50px;"></fa-icon> -->
    </div>
  </div>
</div>
